@import "tailwindcss";

@theme {
  --color-primary: oklch(1 0 0);
  --color-primary-50: oklch(0.99 0.015 272);
  --color-primary-100: oklch(0.97 0.035 272);
  --color-primary-200: oklch(0.93 0.07 272);
  --color-primary-300: oklch(0.84 0.1 272);
  --color-primary-400: oklch(0.72 0.12 272);
  --color-primary-500: oklch(0.65 0.12 272);
  --color-primary-600: oklch(0.56 0.11 272);
  --color-primary-700: oklch(0.48 0.1 272);
  --color-primary-800: oklch(0.4 0.07 272);
  --color-primary-900: oklch(0.32 0.05 272);
  --color-primary-950: oklch(0.26 0.03 272);
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100;
  }
}
